/* Variables */
:root {
	--green: #117050;
	--title: 96px;
	--secondary-title: 54px;
	--text: 16px;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

/*Css Reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Style*/
body {
	font-family: 'Open sans', Sans-serif;
}

.header {
	height: 85px;
}

.logo {
	max-width: 64px;
}

.main {
	width: 100%;
	height: calc(100vh - 85px);
	background-image: url('../images/bg.jpg');
	background-position: center;
	background-size: cover;
	padding: 80px;
}

.main__title {
	font-size: var(--title) !important;
}

.main__p {
	font-size: var(--text) !important;
}

.main__banner {
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 175px;
}

.main__banner-img--border-green {
	border-color: var(--green) !important;
}

/* Section One */
.section__bar {
	background-color: var(--green);
	width: 168px;
	height: 14px;
}

.section-one__content {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section-one-content__info {
	padding: 80px !important;
}

.section-one__img-1 {
	background-image: url("../images/f1.jpg");
	background-size: cover;
	background-position: center;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.section-one__img-2 {
	background-image: url("../images/f2.jpg");
	background-size: cover;
	background-position: center;
	height: 350px;
}

/* Section Two */
.section-two__content {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section-two-content__info {
	padding: 80px !important;
}

.section-two__img-1 {
	background-image: url("../images/f3.jpg");
	background-size: cover;
	background-position: center;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.section-two__img-2 {
	background-image: url("../images/f4.jpg");
	background-size: cover;
	background-position: center;
	height: 350px;
}

/* Section three */
.section-three__content {
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	background-position: left;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section-three__img {
	background-image: url("../images/f5.jpg");
	background-size: cover;
	background-position: center;
}

.section-three-content__info {
	padding: 200px 80px !important;
}

/* Section Four */
.section-four__content {
	background-color: #E8E9EE;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.section-four__info {
	padding: 160px 80px;
}

.section-four__img {
	background-image: url("../images/bg3.jpg");
	background-size: cover;
	background-position: left;
}

/* Ipad */
@media only screen and (max-width: 768px) {
	.main__banner {
		height: 100%;
		width: 100%;
		max-width: 400px;
		max-height: 120px;
	}

	.main__title {
		font-size: 54px !important;
	}

	.main__ p {
		width: 60%;
	}

	.section-one__content {
		grid-template-columns: 3fr 2fr
	}

	.section-two__content {
		grid-template-columns: 2fr 3fr;
	}

	.section-three__content {
		grid-template-columns: 3fr 2fr;
	}
}

@media only screen and (max-width: 575.98px) {
	.main {
		background-position: center right;
		background-size: cover;
	}

	.main__title {
		font-size: 36px !important;
		line-height: 50px !important;
	}

	.main__p {
		width: 100% !important;
		max-width: 300px !important;
	}

	.main__banner {
		height: 100%;
		width: 100%;
		max-width: 340px;
		max-height: 75px;
	}

	.main__banner img {
		border-width: 3px !important;
	}

	.section-one__content,
	.section-two__content,
	.section-three__content,
	.section-four__content {
		grid-template-columns: 1fr;
	}

	.section-three-content__info {
		padding: 120px 80px !important;
	}

	footer {
		font-size: 14px;
		padding: 20px;
	}
}